<%= render :partial => 'layouts/user_nav' %>
<div id='game'>
  <canvas id='game_window' width='800' height='512'></canvas>
</div>

<div id='blank_player' class='player'></div>

<h2>
  <span id='player_name'>XX</span>
  <span id='player_icon' class="player"/>
</h2>

<div id='player_data_x' class='player_data'>
  <%= link_to_function 'Stats', "get_stats();" %>
</div>

<textarea></textarea>
<div id='activity'></div>

<%= juggernaut :debug => true %>
<div id='pick_player' title='Select Player'>
  <p><select id='player_list' class='ui-widget-content ui-corner-all'> </select></p>
</div>

<div id='login' title='Login'>
  <div id='username_or_password_incorrect'>Username or password incorrect</div>
  <p>Username: <input class='text ui-widget-content ui-corner-all' id='username' /></p>
  <p>Password: <input type='password' class='text ui-widget-content ui-corner-all' id='password'></p>
</div>

<div id='welcome' class='popup'>
  <h2>Welcome</h2>
  Loading...
</div>

<div id='stats' title='Stats'>
  <p>Health:<span id='player_health'>XX</span></p>
  <p>Strength:<span id='player_strength'>XX</span></p>
  <p>Intelligence:<span id='player_intelligence'>XX</span></p>
  <p>Wisdom:<span id='player_wisdom'>XX</span></p>
  <p>Dexterity:<span id='player_dexterity'>XX</span></p>
  <p>Constitution:<span id='player_constitution'>XX</span></p>
  <p>Charisma:<span id='player_charisma'>XX</span></p>
</div>

<script type='text/javascript'>
  load_login_interface();
</script>

