<%= render :partial => 'layouts/user_nav' %>
<div id='game'>
  <canvas id='game_window' width='800' height='512'></canvas>
</div>

<div id='blank_player' class='player'></div>

<h2>
  <span id='player_name'>XX</span>
  <span id='player_icon' class="player"</span>
</h2>
<div id='player_data_x' class='player_data'>
  <ul>
    <% %w{health strength}.each do |stat| %>
      <li>
        <%= stat.titleize %>: <span id='<%= stat %>' class ='stats'>x</span>
      </li>
    <% end %>
  </ul>
</div>
<textarea></textarea>
<div id='activity'></div>

<%= juggernaut :debug => true %>
<div id='pick_player' title='Select Player'>
  <p><select id='player_list' class='ui-widget-content ui-corner-all'> </select></p>
</div>

<div id='login' title='Login'>
  <div id='username_or_password_incorrect'>Username or password incorrect</div>
  <p>Username: <input class='text ui-widget-content ui-corner-all' id='username' /></p>
  <p>Password: <input type='password' class='text ui-widget-content ui-corner-all' id='password'></p>
</div>

<div id='welcome' class='popup'>
  <h2>Welcome</h2>
  Loading...
</div>

<script type='text/javascript'>
  load_login_interface();
</script>

