<% characters = ['priest', 'paladin', 'dwarf', 'mage', 'orc', 'ranger'] %>
<h2> Character Select </h2>
<% form_tag do %>
  <% characters.each do |character| %>
    <div class="character_selection <%= character %>"></div>
    <%= radio_button_tag :avatar, character %> <%= character.titleize %>
  <% end %>
  <p>
    <%= submit_tag 'Create character' %>
  </p>
<% end %>