body {
  background: black;
  color: #dddddd;
}

#game {
  position: relative;
  float: left;
  margin-right: 10px;
}

#blank_player {
  display: none;
}

#activity {
  height: 300px;
  overflow: scroll;
}

#user_nav {
  float:right;
  font-size:12px;
}

.player_data li {
  list-style: none;
}

.player {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(/images/characters.png);
}

.character_selection {
  width: 32px;
  height: 32px;
  background: url(/images/characters.png);
}

.priest {
  background-position: 0 0;
}

.paladin {
  background-position: 160px 0;
}

.dwarf {
  background-position: 160px 192px;
}

.mage {
  background-position: 192px 0;
}

.orc {
  background-position: 32px 32px;
}

.ranger {
  background-position: 64px 256px;
}
